# Core testing and data
pytest
pandas
requests

# File parsing
pymupdf
docx2txt
openpyxl
python-docx2txt
PyPDF2

nltk
texstat
scikit-learn
numpy

# Media Processing
ffmpeg-python
opencv-python

# Add later, when the processing functions are built:

# scenedetect
# ultralytics
# openai-clip
# google-api-python-client
# msal
